/* estilo dos cards global */

.cards {
    display: flex;
    flex-direction: row;
}

.card { 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 16px; 
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1); 
    display: inline-block; 
    text-align: center; 
    width: 200px; 
} 
.card h2 { 
    margin: 0 0 8px 0; 
}