<head>
    <link rel="stylesheet" href="../styles/global.css">
</head>
<aside class="aside"> 
    <ul class="aside__menu">
        <li class="aside__menu-item"><a href="http://localhost:3000/indexAdmin">Dashboard</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/usuarios">Gestão de Perfis e Usuários</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/envioTaloes">Gestão de Envio de Talões</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/recebimentoTaloes">Gestão do Recebimento</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/estoqueTaloes">Gestão do Estoque</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/manutencaoTaloes">Gestão da Manutenção</a></li> 
        <li class="aside__menu-item"><a href="http://localhost:3000/lojas">Gestão de Lojas</a></li> 
    </ul> 
</aside>